<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>物资收集</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/search.css">
</head>

<body>
    <div class="wrapper">
        <div class="box">
            <p>地&emsp;图</p>
            <div class="maps">
                <div class="item">主卧</div>
                <div class="item">厨房</div>
                <div class="item">客厅</div>
                <div class="item active">地下室</div>
                <div class="item">次卧</div>
                <div class="item">阳台</div>
            </div>
        </div>
    </div>
    <script src="../lib/jquery-4.0.0.min.js"></script>
    <script src="../script/search.js"></script>
    <script>
        $(document).ready(function () {
        });
    </script>
</body>

</html>