<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-adsense-account" content="ca-pub-5626603682905398">
    <title>关于</title>
    <link rel="shortcut icon" href="/assets/icon/favicon.svg">
    <link rel="stylesheet" href="/assets/css/main.min.css?v=2410121401">
    <link rel="stylesheet" href="https://at.alicdn.com/t/c/font_2103599_b2r9yca5ycp.css">
    <style>
        h2 {
            font-size: 18px;
            color: var(--common-black);
        }

        h2::before {
            content: '# ';
            color: var(--theme-color);
        }

        .products a {
            display: inline-block;
            border-radius: 5px;
            padding: 10px 20px;
            color: var(--theme-color);
            text-decoration: none;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        }
    </style>
</head>

<body class="white">
    <article>
        <header>
            <i>我相信所有坚韧不拔的努力，迟早会得来好报酬</i>
        </header>
        <div class="nav">
            <a href="/">博客</a>
            <a href="/views/tags.html">标签</a>
            <a href="/views/archive.html">归档</a>
            <a class="active" href="/views/about.html">关于</a>
            <div class="theme">
                <i class="iconfont icon-qing" data-theme="white"></i>
                <i class="iconfont icon-duoyunyewan" data-theme="black"></i>
            </div>
        </div>
        <div class="about">
            <p>记录点工作和日常相关的内容，希望能写点有趣的东西吧。</p>
            <br>
            <h2>小产物</h2>
            <div class="products">
                <a href="/expand/countdown.html">组间计时器</a>
                <a href="/expand/whereisdaddy.html">爸爸去哪了</a>
                <a target="_blank" href="https://gitee.com/dongcf/fish-ads-app/releases">摸鱼弹层</a>
            </div>
        </div>
        <footer>2024 &copy;FINCH BLOG</footer>
    </article>
    <!-- js part -->
    <script src="/assets/libs/jquery-3.7.1.min.js"></script>
    <script src="/assets/js/api.min.js?v=2410121401"></script>
    <script>
        // 设置主题
        setTheme();
    </script>
</body>

</html>