<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-adsense-account" content="ca-pub-5626603682905398">
    <title>...</title>
    <link rel="shortcut icon" href="/assets/icon/favicon.svg">
    <link rel="stylesheet" href="/assets/css/main.min.css?v=2410121401">
    <link rel="stylesheet" href="/assets/css/content.css?v=2410121401">
</head>

<body>
    <article class="white">
        <header>
            <i>我相信所有坚韧不拔的努力，迟早会得来好报酬</i>
        </header>
        <div class="article">
            <p class="loading">加载中...</p>
        </div>
        <footer>2024 &copy;FINCH BLOG</footer>
    </article>
    <!-- js part -->
    <script src="/assets/libs/jquery-3.7.1.min.js"></script>
    <script src="/assets/libs/marked.min.js"></script>
    <script src="/assets/js/api.min.js?v=2410121401"></script>
    <script>
        // 设置主题
        setTheme();
        $(document).ready(function () {
            // 加载内容
            true && issue(function (data) {
                // 获取日期
                data.created_date = data.created_at.split('T')[0];
                // 处理标签
                data.tags = data.labels.map(function (item) {
                    return '<span>' + item.name + '</span>';
                });
                // 处理内容，将 markdown 格式转换为 html 格式
                data.body = marked.parse(data.body);
                // 插入 html
                $('div.article').html(['<div class="title">' + data.title + '</div>',
                    '<p class="info">', 'issue created at <i>' + data.created_date + '</i>·' + data.tags.join(''), '</p>',
                    '<div class="content">', data.body, '</div>'
                ].join(''));
                // 加载层
                loading(true);
                // 修改标题
                document.title = data.title;
            }, params().number);
        });
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5626603682905398"
        crossorigin="anonymous"></script>
    <ins class="adsbygoogle" style="display:block; text-align:center;" data-ad-layout="in-article"
        data-ad-format="fluid" data-ad-client="ca-pub-5626603682905398" data-ad-slot="9471437938"></ins>
    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
</body>

</html>