.content h2,
.content h3 {
    font-size: 18px;
}

.content h2::before {
    content: '# ';
    color: var(--theme-color);
}

.content p {
    text-indent: 2em;
    line-height: 2em;
    margin: 14px 0;
    color: var(--common-black);
    word-break: break-all;
}

.content p img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.content p code {
    padding: 2px 4px;
    color: white;
    background-color: var(--theme-color);
    border-radius: 3px;
    font-size: 13px;
    margin-left: 2px;
    margin-right: 2px;
    box-shadow: rgba(0, 0, 0, .2) 0 1px 5px 0px;
}

.content blockquote {
    padding: .5em 1em;
    margin-left: 0px;
    margin-right: 0px;
    border-left: 3px solid var(--theme-color);
    background-color: var(--pre-background-color);
}

.content ul,
.content ol {
    padding-left: 2em;
    margin: 1em 0;
}

.content ul li,
.content ol li {
    list-style: none;
    line-height: 30px;
    letter-spacing: 1px;
    margin: 5px 0px;
}

.content ul li::before,
.content ol li::before {
    content: '• ';
}

.content pre {
    padding: 16px;
    overflow: auto;
    line-height: 1.45;
    background-color: var(--pre-background-color);
    border-radius: 6px;
    border: 1px solid #ededed;
}

.content table {
    margin: 20px 0;
    width: 100%;
    border-collapse: collapse;
}

.content table>tbody>tr {
    background-color: var(--table-tbody-tr);
}

.content table>tbody>tr:nth-of-type(odd) {
    background-color: var(--table-tbody-tr-odd);
}

.content td,
.content th {
    padding: 8px;
    text-align: left;
}

.content thead {
    background-color: var(--theme-color);
    color: white;
}

.content a {
    text-decoration: none;
    color: #4990E2;
}

.content,
.content h2,
.content h3,
.content blockquote,
.content ul li,
.content ol li,
.content pre {
    color: var(--common-black);
}